:root {
    --bg: #FAFAFA;
    --active: #4bad3b;
    --white: #FFFFFF;
    --text-grey: #9C9F9B;
    --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    padding: 0 15px 15px 15px;
}